[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "amen"]
	path = amen
	url = https://github.com/pdhoff/amen
[submodule "covKCD"]
	path = covKCD
	url = https://github.com/pdhoff/covkcd
[submodule "eigenmodel"]
	path = eigenmodel
	url = https://github.com/cran/eigenmodel
[submodule "fabCI"]
	path = fabCI
	url = https://github.com/pdhoff/fabci
[submodule "FABInference"]
	path = FABInference
	url = https://github.com/pdhoff/fabinference
[submodule "Rduino"]
	path = Rduino
	url = https://github.com/pdhoff/rduino
[submodule "rstiefel"]
	path = rstiefel
	url = https://github.com/pdhoff/rstiefel
[submodule "sbgcop"]
	path = sbgcop
	url = https://github.com/pdhoff/sbgcop
